body {
  padding: 10px;
  font-family: sans-serif;
}
.mainButton{
  margin:0 auto;
  text-align:center;
  margin-top:15px;
  margin-right:25px;
  color:white;
  font-size:20px;
}
.chatForm{ /* chat의 상단 */
  padding:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:0 0 100%;
}
.chatList{ /* chat리스트부분  */
  width:28%;
  padding:10px;
  margin:10px;
  display:flex;
  flex-direction: column;
}
.chatProfile{ /* chat프로필 부분  */
  margin:10px;
  padding:5px;
  display: flex;
  flex-direction: column;
}
.Chat{ /* chat 부분  */
  border:2px solid pink; 
}
label{
  font-size:20px;
  text-align: center;
}
.Post{
  border:2px solid orange;
}
label{
  text-align: center;
}
.PostList{
  border:1px solid black;
  background:#e3f9ff;
  border-radius: 25px;
}
.postDetail{
  display: flex;
  flex-direction: row;
}
.Comment{
  border:2px solid skyblue;
}
.modal{
  color:red;
  font-size:20px;
}
.heart{
  display: block;
  /* position: absolute; */
  margin:0 auto; 
  text-align: right;
}
.Posts{
  text-align: center;
}
.buttonposition{
  margin: auto;
  width:15%;
  padding: 10px;
  text-align:center;
}
.chatting{
  width:55%;
}
.chatlist{
  width:50%;
  flex: auto;
  display: flex;
  justify-content: flex-end;
}
.chatscroll{
  height: 300px;
  overflow: auto;
  overflow-x:hidden;
}
.userscroll{
  overflow: auto;
  overflow-x:hidden;
}
.chatlistath{
  flex: auto;
  width:50%;
  display: flex;
  justify-content: flex-start;
}