body {
  padding: 10px;
  font-family: sans-serif;
}
/* .loginButton{
  flex:1;
}
.signUpButton{
  flex:1;
} */
.mainButton{
  margin:0 auto;
  text-align:center;
  margin-top:15px;
  margin-right:25px;
  color:white;
  font-size:20px;
}
.Nav{
  background-color: skyblue;
}
.chatForm{ /* chat의 상단 */
  border: 2px solid black;
  padding:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:0 0 100%;
}
.chatList{ /* chat리스트부분  */
  border:2px solid red;
  padding:10px;
  margin:10px;
  display:flex;
  flex-direction: column;
}
.chatProfile{ /* chat프로필 부분  */
  border:2px solid blue;
  margin:20px;
  padding:10px;
  display: flex;
  flex-direction: column;
}
.Chat{ /* chat 부분  */
  border:2px solid pink; 
}
label{
  font-size:20px;
  text-align: center;
}
.Post{
  border:2px solid orange;
}
label{
  text-align: center;
}
.PostList{
  border:1px solid black;
}
.postDetail{
  display: flex;
  flex-direction: row;
}
.Comment{
  border:2px solid skyblue;
}
.modal{
  color:red;
}