body {
  padding: 10px;
  font-family: sans-serif;
}
.loginButton{
  text-align: right;
  z-index: 1;
}
.mainButton{
  margin: 0 auto;
  width:50%;
  z-index: 1;
}
/* .header{
  background-color: skyblue;
} */
